.space{
    display: flex;
    column-gap: 8px;
    justify-content: space-between;
}
@media screen and (max-width:860px){
    .dropdown-container{
        width: 100%;
        text-align: start;
    }
    }