.menu-icon,
.menu-icon_show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.line-two {
    margin: 5px 0;

}

.menu-icon_show .line-two {
    width: 25px;
}

.menu-icon_show .line-tree {
    width: 20px;
}

@media screen and (max-width:860px) {

    .menu-icon div,
    .menu-icon_show div {
        width: 30px;
        border: 1px solid #64748B;

    }
}