

 .category-list {
    position: relative;
    list-style: none;
    padding: 31px 113px;
    min-height: 82px;
    background-color: #6E64AC;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}



.category-list li:last-child {
    margin-right: 0;
}



.category-list li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 26px;

}

.category-list .active{
   background-color: #9BA8E1;
   border-radius: 8px;
   position: relative;
  
}

.category-list .active::before {
    content: '';
    position: absolute;
    left: 50%;
    top:100%;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; 
    border-top: 10px solid #9BA8E1;
  }

  .category-list::-webkit-scrollbar {
    display: none; 
}



  @media screen and (max-width:1048px){
    .category-list{
        padding: 31px 20px;
        

    }
 
}